
@include extjs-button-small-ui(
    $ui: 'detail',
    $background-color : $db-color-ultra-light,
    $background-color-over: $db-color-ultra-light,
    $background-color-focus: $db-color-ultra-light, 
    $background-color-pressed: $db-color-ultra-light,
    $inner-border-color-focus: $db-color-ultra-light,
    $inner-border-color-focus-pressed: $db-color-ultra-light,
    $inner-border-color-focus-over: $db-color-ultra-light
);

@include extjs-panel-ui(
    $ui: 'detail',
    $ui-header-color: $db-color-medium-dark,
    //$ui-header-background-color: $db-color-ultra-light,
    $ui-header-background-color: $db-color-extra-light,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 26px,
    $ui-header-font-weight: normal,
    
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 8px,


    $ui-header-padding: 4px 12px 4px 12px,
    $ui-header-text-margin: 0,
    $ui-header-noborder-adjust: false,
    $ui-header-inner-border-color: #E1E2E3,//$db-color-light,
    //$ui-header-inner-border-width: 1px,   //0 0 1px 0,  TODO
    //$ui-header-border-width: 1px,//0 0 1px 0,
    //$ui-header-glyph-color: blue,
    
    //$ui-header-border-style: '4px',
    
    $ui-body-background-color: $db-color-ultra-light
    
);

.x-splitter {
    background-color: $exec-light-background !important;
}

.detail{
    
    .x-header{
        
        .x-box-inner {
            background: $db-color-extra-light ;
            padding: 0;
        }
    }

    
    
/*    .x-toolbar-default {
        padding: 0;
        border-style: solid;
        border-color: $db-color-medium-dark;
        border-width: 1px;//0 0 1px 0;//0;
        background-image: none;
        background-color: $db-color-medium-dark;
    }*/
    
/*    .x-panel-header-detail {
        ///font-size: 20px;
        //border: 1px solid #494d60;
        background: $db-color-extra-light ;
    }*/
    
/*    .x-docked-top {
        //border-bottom-width: 1px !important;
        border-top-width: 1px !important;
        border-style: solid;
        border-color: $db-color-medium-dark;
    }*/
    
    .x-tool-img {
        color: #919191;
        background-color: $db-color-extra-light ;
    }
    
    .infos {
        .x-box-inner {
            background: white;
            padding: 0;
        }
    }

}



.x-panel-header-title-detail > .x-title-icon-wrap-detail > .x-title-icon-detail {
    font-family: FontAwesome;
    color: $db-color-medium;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-info {
    font-family: FontAwesome;
    color: #006699;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-map-marker {
    font-family: FontAwesome;
    color: #339900;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-envelope-o{
    font-family: FontAwesome;
    color: #FF0000;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-check{
    font-family: FontAwesome;
    color: #FFDD00;
    font-size: 24px;
    line-height: 24px;
}

//#751CD4;
.x-title-icon.x-title-icon-detail.fa.fa-bolt{
    font-family: FontAwesome;
    color: #9C9C9C;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.x-fa.fa-exclamation-triangle {
    font-family: FontAwesome;
    color: #FFC400;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-stethoscope {
    font-family: FontAwesome;
    color: #cc0000;
    font-size: 24px;
    line-height: 24px;
}


.x-title-icon.x-title-icon-detail.fa.fa-paperclip {
    font-family: FontAwesome;
    color: #751CD4;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.x-fa.fa-tag {
    font-family: FontAwesome;
    color: #0062FF;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-tag {
    font-family: FontAwesome;
    color: #0D98E3;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-check-circle-o {
    font-family: FontAwesome;
    color: #299C13;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-list {
    font-family: FontAwesome;
    color: #F76D18; 
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-user-plus {
    font-family: FontAwesome;
    color: #17A026; //#FFC400;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-thumb-tack {
    font-family: FontAwesome;
    color: #DA128D;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-archive {
    font-family: FontAwesome;
    color: #775108;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-object-group {
    font-family: FontAwesome;
    color: #EDE427;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-tags {
    font-family: FontAwesome;
    color: #02C221;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-gears {
    font-family: FontAwesome;
    color: #6D05B7;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-trash {
    font-family: FontAwesome;
    color: #630608;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-exclamation {
    font-family: FontAwesome;
    color: #C70B0E;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-cogs {
    font-family: FontAwesome;
    color: #31404f;
    font-size: 24px;
    line-height: 24px;
}

.x-title-icon.x-title-icon-detail.fa.fa-paw {
    font-family: FontAwesome;
    color: #870808;
    font-size: 24px;
    line-height: 24px;
}

/*.x-title-text.x-title-text-detail.x-title-item {
    //text-transform: uppercase;
}*/

.detail-title {
    font-size: 24px;
    line-height: 24px;
    margin : 12px;
}

.detail-label {
    font-size: 13px;
    line-height: 18px;
    padding-left: 24px;
    vertical-align: top;
}

/*.detail-text {
    font-size: 13px;
    line-height: 18px;
    padding-left: 12px;
    font-weight: normal;
    vertical-align: top;
}*/

/*
.x-btn-icon-el-dashboard-scene-small {
    font-family: FontAwesome;
    color: $db-color-light;
    font-size: 20px;
    margin-left: 0;
}*/

.btn-detail-map {
    margin-top: 10px !important;
    background-color: #272A36 !important;
    color: #FFFFFF !important;
    width: 25px !important;
    height: 25px !important;
    max-height: 25px !important;
    max-width: 25px !important;
    min-height: 25px !important;
    min-width: 25px !important;
    float: left;
}

.detailTitle{
    background:none !important;
}

.blueIcon {
    color: #4c91c9;
}

.orangeIcon {
    color: #FFC400;
}

.greenIcon {
    color: #4ec94c;
}

.redIcon {
    color: #FF0000;
}

.purpleIcon {
    color: #b453f4;
}

.unsaturatedBlueIcon {
    color:#006699;
}